body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.page-header {
	&::before {
		background: linear-gradient(10deg, #000000 0%, #00000000 100%);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
	}
}

.wp-block-group__inner-container p {
	line-height: 2.2em;
}