button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.block-btn {
	position: relative;
	cursor: pointer;

	&.button {
		display: inline-block;
		padding: 4px 9px;
		min-width: 150px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		opacity: 1;
		transition: opacity 0.5s;

	}

	&.button.outline {
		border: 2px solid #E61618;
		background: transparent;
	}

	&.button.outline-white {
		border: 3px solid #fff;
		background: transparent;
	}

	&.button.gradient {
		background: rgb(245,116,16);
		background: linear-gradient(90deg, rgba(245,116,16,1) 0%, rgba(230,22,24,1) 100%);
	}

	&.button.gradientB {
		border: 2px solid #fff;
		background: rgb(245,116,16);
		background: linear-gradient(90deg, rgba(245,116,16,1) 0%, rgba(230,22,24,1) 100%);
	}

	&.button:hover {
		opacity: 0.7;
	}

}

form {
	.block-btn.button {
		min-width: 100%;
	}
}
