.issue-card-link {
	text-decoration: none;
}

.issue-card-anim {
	margin-bottom: 20px;	
}

.issue-card {
	background: rgb(0,125,150);
	background: linear-gradient(90deg, rgba(0,125,150,1) 0%, rgba(97,187,251,1) 100%);  
	position: relative;
	min-height: 435px;
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	a {
		text-decoration: none;
	}

	.issue-title {
		color: #fff;
		text-transform: uppercase;
		position: relative;
		width: 72%;
    transform: translateY(-50px);
		opacity: 0;
		transition: opacity 3s, transform 2s;
	}

	.issue-text {
		color: #fff;
		position: relative;
		width: 50%;
	}

	.issue-image {
    width: 560px;
    height: 349px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;	
	}

	.issue-text {
		margin-bottom: 25px;
	}

	&.is-visible {

		.issue-title {
			transform: translateY(0);
			opacity: 1;
		}
	}

}

.featured-issue {
	a {
		text-decoration: none;
		.block-btn {
			width: 200px;
		}
	}

}


.image-animation {
	width: 3500%;
	height: 100%;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 0;

  animation: playX 1s steps(6) 1,
             playY 3s steps(3) 1;

  &__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
		height: 100%;
  }
}

@include mobile {
	#issue62 .issue-image {
		right: -30vw;
	}
	#issue52 .issue-image {
		right: -10vw;
	}	
}


@keyframes playX {
  from {background-position-x: 0px;}
  to {background-position-x: -1080px;}
}

@keyframes playY {
  from {background-position-y: 0px;}
  to {background-position-y: -637px;}
}