.jobs-card-wrapper {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.list-row {

	.jobs-card {
		min-height: 100px;

		.jobs-image {
			max-height: 140px;
			overflow: hidden;
		}
	}
}

.list-col {

	.jobs-card-wrapper {
		// col-sm-12 col-md-4
		@media (min-width: 576px) {
			flex: 0 0 100%;
			max-width: 100%;
		}

		@media (min-width: 768px) {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
	}
}

.jobs-card {
	position: relative;
	min-height: 185px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	box-shadow: 1px 1px 5px #d2d2d2;
	background: #fff;
	color: #000;

	&.featured {
		min-height: 400px;
		color: #fff;
		justify-content: flex-end;
		background-size: cover !important;

		.jobs-title {
			font-size: 18px;
			padding: 20px 20px 40px;
		}

	}

	.jobs-excerpt {
		font-size: 14px;
		font-weight: 400;
		padding: 0 20px;
	}

	.jobs-type {
		font-size: 10px;
		font-weight: 700;
		position: absolute;
		top: 0;
		left: 0;
		padding: 3px 10px;
		color: #fff;
	}

	.jobs-date {
		color: #aaa;
		font-size: 12px;
		font-weight: 400;
	}

	.jobs-title {
		position: relative;
		width: 92%;
		font-weight: 700;
		font-size: 16px;
		padding: 20px;

	}

	.jobs-link {
		text-align: right;
		padding: 10px 20px 10px 0;

		a {
			color: #e63257;
			text-decoration: none;
			font-size: 12px;
			font-weight: 700;
		}
	}

	&.jobs {

		.jobs-type {
			background: $color__news;
		}
	}

	&.statements {

		.jobs-type {
			background: $color__statement;
		}
	}

	&.blog {

		.jobs-type {
			background: $color__blog;
		}
	}

	&.tiglobal {

		.jobs-type {
			background: $color__tiglobal;
		}
	}


}
