.site-header {
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 1;

	.site-branding {
		padding: 10px 20px 6px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 230px;
		}


		@include mobile {
			display: none;
		}

	}

	.right-header {
		display: flex;
		@include mobile {
			width: 100%;
			justify-content: space-between;
		}

		.right-header-left {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.search-site {
				width: 200px;
				input {

					&::placeholder {
						opacity: 0.5;
					}
				}
				@include mobile {
					display: none;
				}
			}
		}

		.search-site {

			label {
				width: 100%;
			}

			input[type=search] {
				width: 100%;
				padding: 5px 20px;
				border: 0;
				border-radius: 0;
				color: #fff;
				background: #448dc4;
				font-size: 14px;
				font-weight: 400;
				outline: none;

				&::placeholder {
					color: #fff;
					font-size: 14px;
					font-weight: 400;
				}

			}

			input[type=submit] {
				display: none;
			}
		}

		.main-navigation {
			.menu-toggle {
				background: transparent;
				border-left: 0;
				border-right: 0;
				border-top: 2px solid #fff;
				border-bottom: 2px solid #fff;
				border-radius: 0;
				width: 25px;
				height: 17px;
				margin: 15px 0 0 10px;
				position: relative;
				padding: 0;
				
				&::before {
					content: "";
					background: #fff;
					height: 2px;
					position: absolute;
					top: 5px;
					left: 0;
					right: 0;
				}
			}
			@include mobile {
				&.toggled {
				.menu-menu-1-container {
							position: absolute;
							top: 108px;
							width: 100%;
							height: 100vh;
							background: #000;
							z-index: 99;
							.nav-menu {
								padding: 40px 0 0 0;								
							}
				}
			}
			}

		}
		.mobile-branding {
			display: none;
		}
		@include mobile {
			.mobile-branding {
				display: block;
				margin: 10px 0;
			}
		}		
	}

	.donate-button {
		background: #E61118;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;
		color: #fff;
		font-weight: 700;
		position: relative;
		.textwidget {
			width: 100%;
			height: 100%;
			form {
				width: 100%;
				height: 100%;
				button {
					background: transparent;
					border: 0;
					color: #fff !important;
					border-radius: 0;
					width: 100%;
					height: 100%;
					font-weight: 700;
					padding: 0 30px;
					cursor: pointer;
					&:focus {
						outline: 0;
					}					
				}
			}
		}
	}

}

.search-mobile {
	display: none;
	background: #4093d0;
	background: linear-gradient(90deg, #4093d0 0%, #205fa5 100%);	
	padding: 0 10px;
	form {
		display: flex;
		justify-content: space-between;
		width: 100%;	
	}
	input[type="search"] {
		background: transparent;
		border: 0;
		color: #fff;
		&::placeholder {
			color: #fff;
		}
	}
	button {
		background: transparent;
    border: 0;		
	}
	@include mobile {
		display: block;
	}

	.search-site {
		@include tablet-up {
			display: none;
		}

		label {
			width: 100%;
			margin-bottom: 0;
		}

		input[type=search] {
			width: 100%;
			padding: 5px 20px;
			border: 0;
			border-radius: 0;
			color: #fff;
			background: #448dc4;
			font-size: 14px;
			font-weight: 400;
			outline: none;

			&::placeholder {
				color: #fff;
				font-size: 14px;
				font-weight: 400;
			}

		}

		input[type=submit] {
			display: none;
		}
	}
}