.news-card-wrapper {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;

	a {
		text-decoration: none;
	}
}


.list-row {

	.news-card {
		min-height: 100px;

		.news-title {
			margin-top: 20px;
		}

		.news-image {
			max-height: 140px;
			min-height: 20px;
			overflow: hidden;
			display: none;

		}
	}
}

.list-col {


	.news-image {
		max-height: 160px;
		min-height: 20px;
		overflow: hidden;
    display: flex;
    justify-content: center;
		align-items: center;
		position: relative;
		&::after {
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(255,255,255);
			background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7147233893557423) 68%, rgba(0,0,0,1) 100%);
		}
	}

	.news-preview {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.news-type {
			z-index: 1;
		}

		.news-card {
			justify-content: flex-end;
			background: #000;
		}


		.news-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: unset;

			img {
				height: 100%;
				width: 100%;
				max-width: unset;
				object-fit: cover;
			}
		}

		.news-title {
			color: #fff;
		}

		.news-link {
			border: 2px solid #E61618;
			background: transparent;
			display: inline-block;
			padding: 0px 9px 3px;
			text-align: center;
			opacity: 1;
			transition: opacity 0.5s;
			position: relative;
			max-width: 110px;
			margin: 0 10px 10px;

			span {
				color: #fff;
				font-size: 12px;
				text-decoration: none;
			}
		}
	}

	.news-card-wrapper {
		// col-sm-12 col-md-4
		@media (min-width: 576px) {
			flex: 0 0 100%;
			max-width: 100%;
		}

		@media (min-width: 768px) {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}
	}
}

.news-container {
	overflow-x: hidden;	
}

#newsRows {
	.news-image {
		&::after {
			background: transparent;
		}
	}
	
}

a.news-card-link {
	text-decoration: none;
}


.news-card {
	position: relative;
	min-height: 360px;
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	// box-shadow: 1px 1px 5px #d2d2d2;
	background: #fff;
	color: #000;

	a {
		text-decoration: none;
	}


	&.featured {
		color: #fff;
		justify-content: flex-end;
		background-size: cover !important;
		background-position: center !important;
		
		&::after {
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(255,255,255);
			background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7147233893557423) 68%, rgba(0,0,0,1) 100%);
		}
		a {
			color: #fff;
			text-decoration: none;
		}

		.featured-news-image {
			width: 100%;
			img {
				width: 100%;

				@include mobile {
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;					
				}
			}
		}

		.news-title {
			font-size: 34px;
			padding: 20px 20px 40px;
			text-transform: uppercase;
			width: 75%;
			color: #fff;
			z-index: 1;
			position: absolute;
			bottom: 0;
			left: 0;

			@include mobile {
				font-size: 24px;
				width: 100%;
			}
		}

		.news-excerpt {
			font-size: 14px;
			font-weight: 400;
		}
	}

	.news-type {
		font-size: 16px;
		font-weight: 700;
		position: absolute;
		top: 0;
		left: 0;
		padding: 3px 10px;
		color: #fff;
		z-index: 1;
	}

	.news-date {
		color: #aaa;
		font-size: 14px;
		font-weight: 400;
	}

	.news-title {
		position: relative;
		width: 92%;
		font-weight: 700;
		font-size: 18px;
		padding: 10px;
		text-transform: uppercase;
		color: #000;
		z-index: 1;

	}

	.news-link {
		text-align: right;
		padding: 10px 20px 10px 0;
		z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;		

		span {
			color: #e61618;
			text-decoration: none;
			font-size: 12px;
			font-weight: 700;
		}
	}


	&.news {

		.news-type {
			background: $color__news;
		}
	}

	&.statements {

		.news-type {
			background: $color__statement;
		}
	}

	&.blog {

		.news-type {
			background: $color__blog;
		}
	}

	&.tiglobal {

		.news-type {
			background: $color__tiglobal;
		}
	}

	&.opeds {

		.news-type {
			background: $color__opeds;
		}
	}

}
