html {
	/* scroll-snap-type: y mandatory; */
}

.section-bg.w-full svg {
	width: 100vw !important;
}
.section-bg.h-full svg {
	height: 100vw !important;
}

.block-what-we-do .section-bg svg {
	transform: translate3d(0px, -18%, 0px) !important;
}

@keyframes fade-in {
	from {opacity: 0;}
		to {opacity: 1;}
}

@keyframes fade-in-stagger {
	0% { opacity:0; }
	75% { opacity:0; }
	100% { opacity:1; }
}

@keyframes top-slide-in {
	0% { transform: translateY(-100vh) }
	100% { transform: translateY(0) }
}

.fade-in.fade-in-element, .fade-in .fade-in-element {
	opacity: 0;
}

.start-fade-in.fade-in-element, .start-fade-in .fade-in-element {
	animation-name: fade-in;
	animation-duration: 0.25s;
}

.start-fade-in.fade-in-element.stagger-1, .start-fade-in .fade-in-element.stagger-1 {
	animation-name: fade-in;
	animation-duration: 1s;
}
	
.anim-section {
	display: flex;
	align-items: center;
	background-color: #fff;
	scroll-snap-align: start;
}

.slide-from-left {
	transform: translateX(-100vw);
	transition: transform 0.5s ease-out;
}

.start-fade-in .slide-from-left {
	transform: translateX(0);
}

.slide-from-right {
	transform: translateX(100vw);
	transition: transform 0.5s ease-in;
}

.slide-from-right.delay-25 {
	transition: transform 0.5s ease-in 0.15s;
}

.start-fade-in .slide-from-right {
	transform: translateX(0);
}


.slide-from-top {
}

.slide-from-top.delay-25 {
}
.fade-in.slide-from-top  {
	transform: translateY(-100vh);
}
.start-fade-in.slide-from-top {
	animation-name: top-slide-in;
	animation-duration: 0.25s;

}

.parallax {
	/* transition: transform 0.05s; */
}

.anim-mask-from-left {
	overflow: hidden;
	max-width: 0;
}

.start-fade-in .anim-mask-from-left {
	max-width: 100%;
}

.start-fade-in .anim-fade-in {
	transition: transform 0.05s;
}