/* custom-what-we-do */

.custom-what-we-do {
  margin-top: 4rem;
}

@screen 2xl {
  .custom-what-we-do {
    margin-top: 9rem;
  }

  .custom-what-we-do img {
    position: absolute;
    max-width: unset;
    top: -10rem;
    left: -7rem;
  }
}

/* custom-paid-media */

.custom-paid-media {
  margin-top: 4rem;
}

@screen 2xl {
  .custom-paid-media {
    margin-top: 15rem;
  }

  .custom-paid-media img {
    position: absolute;
    max-width: unset;
    top: -4rem;
    left: 3rem;
  }
}

/* custom-brand-building */

.custom-brand-building {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@screen 2xl {
  .custom-brand-building {
    margin-top: 47rem;
    margin-bottom: 8rem;
  }

  .custom-brand-building img {
    position: absolute;
    max-width: unset;
    top: -37rem;
    left: -33rem;
  }
}

@screen 2xl {
  /* custom-blm */
  .custom-blm {
    padding-bottom: 13rem;
  }
  .custom-blm .custom-illustration {
    position: absolute;
    width: 67rem;
    max-width: unset;
    top: -2rem;
    left: -2rem;
  }
  /* custom-wisconsin */
  .custom-wisconsin {
    padding-top: 13rem;
    padding-bottom: 8rem;
    padding-left: 4rem;
  }
  .custom-wisconsin .custom-illustration {
    position: absolute;
    top: -17rem;
    left: -9rem;
    width: 54rem;
    max-width: unset;
  }
  /* custom-just */
  .custom-just {
    padding-top: 8rem;
    padding-bottom: 15rem;
  }
  .custom-just .custom-illustration {
    position: absolute;
    max-width: unset;
    width: 67rem;
    left: -13rem;
    top: -8rem;
  }
}
