/* Make footer always go bottom*/
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Klavika, sans-serif;
}

.mobile-menu {
	display: none !important;
}

.block-hero {
	width: 100vw;
}

.block-hero svg {
	width: 100vw !important;
	height: auto !important;
}

.page-footer {
	background: #fff;
}

.slick-slide {
	overflow: hidden;
	position: relative;	
}