/* common */
.scratch {
  position: relative;
}
.scratch::before,
.scratch::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: 10;
}

/* white 
.scratch-white__up::before {
  background-image: url('../images/scratch-white-up.png');
  filter: brightness(2);
  height: 101px;
  top: -101px;
}

.scratch-white__down::after {
  background-image: url('../images/scratch-white-up.png');
  transform: rotate(180deg);
  filter: brightness(2);
  height: 101px;
  bottom: -101px;
}

.scratch-white__up2::before {
  background-image: url('../images/scratch-white-up2.png');
  filter: brightness(2);
  height: 190px;
  top: -190px;
}
*/
/*blue

.scratch-blue__down::after {
  background-image: url('../images/scratch-blue-down.png');
  bottom: -73px;
  height: 73px;
}
*/
/* blue-small 

.scratch-blue-small__up::before {
  background-image: url('../images/scratch-blue-small-up.png');
  height: 42px;
  top: -42px;
}

.scratch-blue-small__down::after {
  background-image: url('../images/scratch-blue-small-down.png');
  bottom: -79px;
  height: 79px;
}
*/
/* black */

.scratch-black {
  position: relative;
}
/*
.scratch-black__up::before,
.scratch-black__down::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: 10;
}

.scratch-black__up::before {
  background-image: url('../images/scratch-black-up.png');
  height: 45px;
  top: -45px;
}

.scratch-black__down::after {
  background-image: url('../images/scratch-black-down.png');
  bottom: -82px;
  height: 82px;
}
*/
/* red
.scratch-red__up::before {
  background-image: url('../images/scratch-red-up.png');
  height: 40px;
  top: -40px;
}

.scratch-red__down::after {
  background-image: url('../images/scratch-red-down.png');
  bottom: -63px;
  height: 63px;
}
*/
/* gray 
.scratch-gray__up::before {
  background-image: url('../images/scratch-gray-up.png');
  height: 71px;
  top: -71px;
}

.scratch-gray__down::after {
  background-image: url('../images/scratch-gray-down.png');
  bottom: -83px;
  height: 83px;
}
*/