/* common */
.scratch {
  position: relative;
}
.scratch::before,
.scratch::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: 10;
}

/* white */
.scratch-white__up::before {
  background-image: url('../images/scratch-white-up.png');
  filter: brightness(2);
  height: 101px;
  top: -101px;
}

.scratch-white__down::after {
  background-image: url('../images/scratch-white-up.png');
  transform: rotate(180deg);
  filter: brightness(2);
  height: 101px;
  bottom: -101px;
}

.scratch-white__up2::before {
  background-image: url('../images/scratch-white-up2.png');
  filter: brightness(2);
  height: 190px;
  top: -190px;
}

/*blue*/
.scratch-blue {
  position: relative;
}
.scratch-blue__down::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 73px;
  background-image: url('../images/blue-scratch.png');
  background-size: cover;
  z-index: 10;
}

.scratch-blue__down::after {
  bottom: -73px;
}

/* black */

.scratch-black {
  position: relative;
}
.scratch-black__up::before,
.scratch-black__down::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: 10;
}

.scratch-black__up::before {
  background-image: url('../images/scratch-black-up.png');
  height: 45px;
  top: -45px;
}

.scratch-black__down::after {
  background-image: url('../images/scratch-black-down.png');
  bottom: -82px;
  height: 82px;
}

/* red */
.scratch-red__up::before {
  background-image: url('../images/scratch-red-up.png');
  height: 40px;
  top: -40px;
}

.scratch-red__down::after {
  background-image: url('../images/scratch-red-down.png');
  bottom: -63px;
  height: 63px;
}

/* gray */
.scratch-gray__up::before {
  background-image: url('../images/scratch-gray-up.png');
  height: 71px;
  top: -71px;
}
