.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.search {

	.layout-options-widget {
		justify-content: space-between;
	}
}

.layout-options-widget {
	margin-bottom: 25px;
	display: flex;
	justify-content: flex-end;

	.list-views {
		display: flex;
	}

	.list-title {
		font-size: 12px;
		color: #4093d0;
	}

	.layout {
		display: flex;
		justify-content: space-around;
		width: 55px;
		height: 25px;
		margin-top: 5px;

		@include mobile {
			display: none;
		}
	}

	.select-row {
		cursor: pointer;
		height: 14px;

		.row-select {
			background: #aaa;
			height: 4px;
			width: 19px;
			position: relative;
			top: -4px;

			&::before,
			&::after {
				content: "";
				background: #aaa;
				height: 4px;
				width: 19px;
				position: absolute;
				top: 6px;
			}

			&::after {
				bottom: -12px;
				top: auto;
			}
		}

		&.active,
		&:hover {

			.row-select {
				background: #ca2a0f;

				&::before,
				&::after {
					background: #ca2a0f;
				}
			}
		}
	}

	.select-col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 16px;
		height: 18px;
		margin-top: -5px;

		.col-select {
			position: relative;
			cursor: pointer;
			width: 6px;

			&::before,
			&::after {
				content: "";
				background: #aaa;
				height: 7px;
				width: 7px;
				position: absolute;
				top: -8px;
			}

			&::after {
				content: "";
				background: #aaa;
				height: 7px;
				width: 7px;
				position: absolute;
				top: auto;
				bottom: -8px;
			}

		}

		&.active,
		&:hover {

			.col-select {
				background: #ca2a0f;

				&::before,
				&::after {
					background: #ca2a0f;
				}
			}
		}
	}
}

.sort {
	margin-left: 15px;
	@include mobile {
		margin-right: 15px;
	}

	select { display: none; }

	.sort-by {
		font-weight: 700;
		font-size: 15px;
	}

	.sort-options {
		display: none;
		font-weight: 700;
		font-size: 15px;		
	}

	.sort-select-wrapper {
		position: relative;
		user-select: none;
		width: 100%;
	}

	.sort-select {
			position: relative;
			display: flex;
			flex-direction: column;

			.sort-by-current {
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}
	.sort-select__trigger {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 12px 0 22px;
			height: 20px;
			line-height: 40px;
			background: #ffffff;
			cursor: pointer;
			font-weight: 700;
			font-size: 15px;			
	}
	.sort-options {
			position: absolute;
			display: block;
			top: 100%;
			right: 0;
			background: #fff;
			transition: all 0.5s;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			z-index: 2;
			min-width: 230px;
	}
	.sort-select.open .sort-options {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
	}
	.sort-option {
			position: relative;
			display: block;
			padding: 0 22px 0 22px;
			line-height: 40px;
			cursor: pointer;
			transition: all 0.5s;
	}
	.sort-option:hover {
			cursor: pointer;
			color: #b2b2b2;
	}
	.sort-option.selected {
			color: #4093d0;
	}
	.arrow {
		position: relative;
		height: 15px;
		width: 15px;
	}
	.arrow::after {
			content: "▼";
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 15px;
			transition: all 0.5s;
			transform: rotate(0deg);
			font-size: 12px;
	}
	.open .arrow::after {
			transform: rotate(180deg);
	}

}


.filter-bar {
	background: #f6f7f8;
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 15px;

	.filter-label {
		font-size: 15px;
		font-weight: 700;
	}

	.issue-title {
		color: #4093d0;
		margin-top: 20px;
		font-weight: 600;
	}

	.issue {
		display: flex;
		flex-direction: row;
		font-size: 15px;
		align-items: center;
		margin-top: 10px;

		.filter-checkbox {
			position: relative;
			margin-right: 10px;
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				position: relative;
				z-index: -9999;

				&:checked + .box {
					border: #ca2a0f 1px solid;

					.check {
						background: #ca2a0f;
						border: #000;
					}
				}
			}

			.box {
				width: 12px;
				height: 12px;
				display: flex;
				border: #050519 1px solid;
				align-items: center;
				justify-content: center;
				padding: 1px;
				cursor: pointer;
				position: absolute;
				top: 0;

				.check {
					width: 100%;
					height: 100%;
				}
			}
		}

	}

}

.share-wrapper {
	display: flex;
	margin-right: 25px;

	a {
		text-decoration: none;
		margin-left: 10px;
		color: #4093d0;
		font-weight: 700;
		font-size: 14px;

		svg {
			height: 15px;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}


.team-bio {
	background: #fff;
	box-shadow: 0 0 7px #ccc;
	padding: 20px;
	color: #000;

	.bio-header {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		margin-bottom: 25px;

		.bio-image {
			width: 100px;
			border-radius: 50px;
			overflow: hidden;
			margin-right: 20px;
			height: 100px;
			border: 5px solid #61BBFB;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.bio-name {
			font-size: 24px;
			font-weight: 700;
		}
	}

	.bio-bio {
		max-height: 80px;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
		p {
			font-size: 14px;
			line-height: 26px;
		}

	}

	.more {
		.bio-bio {
			max-height: 700px;
		}
	}

	.bio-readmore {
		margin-bottom: 25px;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		
		.less {
			display: none;
		}

		&.focus {
			.less {
				display: block;
			}
			.more {
				display: none;
			}
		}

		
	}

	.bio-contact {
		display: flex;

		.contact-icon {
			width: 30px;

			svg {
				width: 80%;

				.a {
					fill: #e73258;
				}
			}
		}

		.contact-info {
			font-size: 16px;
			font-weight: 700;

			a {
				color: #e73258;
				font-size: 14px;
			}
		}
	}
}


#ctf {
	overflow: hidden !important;

	.ctf-owl-item {
		min-height: 260px;
	}

	.ctf-item {
		padding: 15px;
		word-break: break-word;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.ctf-tweet-content {
			margin: 20px 0;
		}

		.ctf-tweet-actions {
			background: linear-gradient(90deg, #f57410 0%, #e61618 100%);
			position: absolute;
			bottom: 0;
			right: 5px;

			.ctf-reply,
			.ctf-like,
			.ctf-action-count {
				display: none !important;
			}

			.ctf-retweet {

				svg {
					display: none;
				}

				&::after {
					content: "RETWEET THIS";
					color: #fff;
					font-weight: 400;
					font-size: 14px;
					padding: 0 15px;
				}
			}
		}

		.ctf-author-box {
			background: #61bbfb;
			position: absolute;
			top: 0;
			left: 5px;
			min-height: 20px;
			display: flex;


			.ctf-author-name {
				color: #fff !important;
				font-size: 12px;
				text-decoration: none;
				text-indent: -9999px;

			}

			.ctf-author-box-link {
				order: 2;
				margin-top: -2px;
				padding-right: 5px;

				a {
					display: none;
				}

				&::after {
					content: "transparencyUSA";
					font-size: 12px;
					color: #fff;
					padding-right: 10px;
				}
			}


			.ctf-corner-logo {
				font-size: 16px;
				padding: 0 8px;
				order: 1;
				float: left;

				svg {

					path {
						fill: #fff;
					}
				}
			}
		}

		.ctf-tweet-meta {
			position: absolute;
			bottom: 5px;
			left: 10px;
			a {
				text-decoration: none;	
				color: #EE7C01 !important;
				font-weight: 700;
				font-size: 14px;
			}
		}

	}

	&.ctf-fixed-height {
		padding: 0 20px;
	}

	.ctf-owl-nav.onhover {
		display: block !important;
	}

	&.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-next {
		right: -20px;
	}

	&.ctf-carousel .ctf-owl-nav.onhover .ctf-owl-prev {
		left: -30px;
	}

	&.ctf-carousel .ctf-owl-nav.onhover span,
	&.ctf-carousel .ctf-owl-nav.onhover svg {
		background: transparent;
		color: #ee7c01;
	}

	.ctf-owl-stage {
		display: flex;
	}

}



.author-wrapper {
	padding: 50px 0;
	background: #fff;
	margin-bottom: 0 !important;	
}
.author-info {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 25px;

	.author-image {
		width: 100px;
		border-radius: 50px;
		overflow: hidden;
		margin-right: 20px;
		height: 100px;
		border: 5px solid #61BBFB;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.author-details {
		font-size: 14px;
		font-weight: 400;
		width: 75%;
		a {
			color: #E73258;
			text-decoration: none;
			font-weight: 700;
		}
	}
}